<li>
  <div class="listWrpService featured-wrap">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-3">
        <div class="listImg">
          <% if profile.image.present? %>
            <%= image_tag profile.image %>
          <% else %>
            <%= gravatar_image_tag(current_user.email.gsub("spam", "mdeering")) %>
          <% end %>
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-9">
        <div class="row">
          <div class="col-md-8">
            <h3><%= link_to current_user.username, profile_path(profile) %></h3>
            <p><%= profile.position %></p>
            <ul class="featureInfo innerfeat">
              <li><i class="fas fa-map-marker-alt"></i><%= profile.address %></li>
              <li><i class="fas fa-calendar-alt"></i><%= profile.time %></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="click-btn">
              <ul>
                <% if can? :update, Profile %>
                  <li class="click-btn">
                    <%= link_to status_profiles(profile), profile_public_path(profile_id: profile.id), method: :patch %>
                  </li>
                <% end %>
                <% if can? :edit, Profile %>
                  <li class="click-btn"><%= link_to t("user.edit_profile"), edit_profile_path(profile) %></li>
                <% end %>
                <% if can? :destroy, Profile %>
                  <li class="click-btn"><%= link_to t("user.delete_profile"), profile, method: :delete, data: {confirm: t("confirmed")} %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
