<%= provide :title, t("admin.profile.detail") %>
<h4><%= t "admin.profile.detail" %></h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <%= image_tag(@profile.avatar, class: "profile-user-img img-fluid img-circle") %>
          </div>
          <h3 class="profile-username text-center"><%= @profile.user_username %></h3>
          <p class="text-muted text-center"><%= @profile.title %></p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b><%= t "admin.profile.phone" %></b> <a class="float-right btn-link"><%= @profile.phone %></a>
            </li>
            <li class="list-group-item">
              <b><%= t "admin.profile.email" %></b> <a class="float-right btn-link"><%= @profile.email %></a>
            </li>
            <li class="list-group-item">
              <b><%= t "admin.profile.facebook" %></b> <a class="float-right btn-link"><%= @profile.facebook_link %></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"><%= t "admin.post.skill" %></h3>
        </div>
        <div class="card-body">
          <%= render partial: "admin/users/skill", collection: @profile.skills %>
        </div>
      </div>
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"><%= t "admin.profile.about_me" %></h3>
        </div>
        <div class="card-body">
          <strong><i class="fas fa-book mr-1"></i> <%= t "admin.profile.education" %></strong>
          <p class="text-muted">
            <%= @profile.education %>
          </p>
          <hr>
          <strong><i class="fas fa-map-marker-alt mr-1"></i> <%= t "admin.post.address" %></strong>
          <p class="text-muted"><%= @profile.address %></p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="timeline">
              <div class="timeline timeline-inverse">
                <div>
                  <i class="fas fa-briefcase"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= t "admin.profile.experience" %></h3>
                    <%= render partial: "experience", collection: @experiences %>
                  </div>
                </div>
                <div>
                  <i class="fas fa-briefcase"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header"><%= t "admin.profile.experience" %></h3>
                    <%= render partial: "qualification", collection: @qualifications %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="float-right">
        <%= link_to t("admin.profile.cancel"), admin_user_path(id: @profile.user_id), class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
