<%= form_for [:admin, @post] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :category do %>
          <%= t "admin.post.category" %> <span class="text-danger">*</span>
        <% end %><br>
        <%= f.select("category_id", get_category, {}, {class: "form-control"}) %>
      </div>
      <div class="form-group">
        <%= f.label :address do %>
          <%= t "admin.post.address" %> <span class="text-danger">*</span>
        <% end %>
        <%= f.text_field :address, class: "form-control" %>
        <%= errors_for f, :address %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :start_date do %>
              <%= t "admin.post.start_date" %> <span class="text-danger">*</span>
            <% end %>
            <%= f.date_field :start_date, class: "form-control" %>
            <%= errors_for f, :start_date %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :end_date do %>
              <%= t "admin.post.end_date" %> <span class="text-danger">*</span>
            <% end %>
            <%= f.date_field :end_date, class: "form-control" %>
            <%= errors_for f, :end_date %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :salary do %>
              <%= t "admin.post.salary" %> <span class="text-danger">*</span>
            <% end %>
            <%= f.number_field :salary, class: "form-control" %>
            <%= errors_for f, :salary %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :target_type do %>
              <%= t "admin.post.target_type" %> <span class="text-danger">*</span>
            <% end %>
            <div class="check">
              <%= f.radio_button :target_type, "parttime" %>
              <%= f.label :target_type, t("admin.post.part_time") %>
            </div>
            <div class="check">
              <%= f.radio_button :target_type, "fulltime" %>
              <%= f.label :target_type, t("admin.post.full_time") %>
            </div>
            <%= errors_for f, :target_type %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :title do %>
          <%= t "admin.post.title" %> <span class="text-danger">*</span>
        <% end %>
        <%= f.text_field :title, class: "form-control" %>
        <%= errors_for f, :title %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description do %>
          <%= t "admin.post.description" %> <span class="text-danger">*</span>
        <% end %>
        <%= f.text_area :description, class: "form-control", rows: Settings.rows %>
        <%= errors_for f, :description %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <%= f.label :skill do %>
            <%= t "admin.post.skill" %> <span class="text-danger">*</span>
          <% end %>
          <div class="card">
            <div class="card-body">
              <%= f.fields_for :skills do |ff| %>
                <%= render "skill_fields", f: ff %>
                <%= ff.check_box :_destroy, class: "check_bok_none" %>
                <%= ff.label :_destroy, t("admin.post.remove_skill") %>
              <% end %>
              <div class="links">
                <%= link_to_add_association f, :skills do %>
                  <i class="fas fa-plus text-info"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group text-center">
        <%= link_to t("admin.cancel"), admin_posts_path, class: "btn btn-danger" %>
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
