<%= form_for @profile, url: profile_index_path do |f| %>
  <div class="listWrpService featured-wrap candidate candetail">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-3">
        <div class="listImg">
            <%= gravatar_image_tag(current_user.email.gsub("spam", "mdeering")) %>
            <%= f.label :avatar, t("cv.change_avatar"), class: "btn" %>
            <%= f.file_field :avatar, accept: Settings.image.accept, class: "hidden" %>
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-9">
        <div class="row">
          <div class="col-md-8">
            <h3><%= current_user.username %></h3>
            <div class="designation">
              <%= f.text_field :position, placeholder: t("cv.position"), class: "form-control" %>
            </div>
            <div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= f.text_field :address, placeholder: t("cv.place"), class: "form-control" %>
            </div>
            <ul class="featureInfo">
              <li>
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                <%= f.text_field :email, placeholder: t("cv.email"), class: "form-control" %> 
              </li>
              <li>
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                <%= f.text_field :phone, placeholder: t("cv.phone"), class: "form-control" %> 
              </li>
            </ul>  
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listWrpService featured-wrap candidate candetail">
    <h2><%= t "cv.education" %></h2>
    <%= f.text_area :education, class: "form-control" %>
  </div>
  <div class="listWrpService featured-wrap candidate candetail">
    <h2><%= t "cv.qualification" %></h2>
      <%= f.fields_for :qualifications do |qualification| %>
        <%= render "qualification_fields", f: qualification %>
      <% end %>
    <div class="links">
      <%= link_to_add_association t("cv.add"), f, :qualifications %>
    </div>
  </div>
  <div class="listWrpService featured-wrap candidate candetail">
    <h2><%= t "cv.experience" %></h2>
    <%= f.fields_for :experiences do |experience| %>
      <div class="resumeInfo">
        <div class="head">
          <%= experience.text_field :title, placeholder: t("cv.title"), class: "form-control" %>
        </div>
      </div>
      <%= experience.text_area :description, class: "form-control" %>
    <% end %>
  </div>
  <div class="listWrpService featured-wrap candidate candetail profile_skills">
    <h2><%= t "cv.skill" %></h2>
    <%= fields_for :profile_skills do |profile_skill| %>
      <%= render "profile_skill_fields", f: profile_skill %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("cv.add"), f, :profile_skills %>
    </div>
  </div>
  <%= f.submit t("signup"), class: "btn btn-primary" %>
<% end %>
