<div class="header-wrap">
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-3 col-sm-3">
        <div class="logo"><%= link_to image_tag("logo.png"), "#" %></div>
      </div>
      <div class="col-md-5 col-sm-9"> 
        <div class="navigationwrape">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header"> </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to t("static_pages.home.title"), "#" %></li>
                <li><%= link_to t("static_pages.about.title"), "#" %></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="header-right">
          <div class="user-wrap">
            <div class="login-btn"><%= link_to t("user.login"), login_path %></div>
            <div class="register-btn"><%= link_to t("user.register") ,"#" %></div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
