<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= link_to "/admin", class: "brand-link" do %>
    <%= image_tag("AdminLTELogo.png", class: "brand-image img-circle elevation-3") %>
    <span class="brand-text font-weight-light"><%= t "admin.manage" %></span>
  <% end %>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <%= link_to "/admin" do %>
          <%= image_tag(current_user.avatar, class: "img-circle elevation-2") %>
          <%= current_user.username %>
        <% end %>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_companies_path, class: "nav-link" do %>
            <i class="fas fa-info"></i>
            <p><%= t "admin.company.info" %></p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_posts_path, class: "nav-link" do %>
            <i class="fas fa-briefcase"></i> <%= t "admin.post.manage" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_user_applies_path, class: "nav-link" do %>
            <i class="fas fa-users"></i> <%= t "admin.apply.manage" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-sign-out-alt"></i> <%= t "user.logout" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
