<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "custom" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/admin_header" %>
      <%= render "layouts/sidebar" %>
      <div class="content-wrapper">
        <section class="content-header">
        </section>
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/admin_footer" %>
    </div>
  </body>
</html>
